body {
  height: 700px;
  width: 100%;
}

header {
  height: 25%;
  width: 100;
}

h1 {
  text-align: center;
  padding: 4%;
  font-size: 50px;
}

main {
  background-color: rgb(167, 60, 185);
  height: 50%;
  width: 100%;
  box-shadow: 0 0 30px  rgb(0, 0, 0)
}

.picture-box {
  float: left;
  height: 100%;
  width: 33%;
  padding-top: 2%;
}

img {
  display: inline;
  width: 80%;
  height: 80%;
  border: 2px solid black;
  margin-left: 10%;
}

#chart {
  border: 2px solid black;
  height: 300px;
  width: 500px;
}
